# 1. LICENSE
# Required to run the current Snowplow Enrich application.
license {
  accept = true
}

input {

  # Name of this Enrich application.
  # Snowplow/KCL uses this for application state/checkpointing.
  appName = "snowplow-mvp-enrich"

  # Raw Collector payload stream.
  # Critical connection between collector and enrich
  streamName = "snowplow-mvp-collector-good"

  # The AWS region where your Kinesis streams reside.
  region = "eu-north-1"

  # Start consuming new events.
  initialPosition {
    type = "LATEST"
  }

  # Standard Kinesis polling mode.
  retrievalMode {
    type = "Polling"
    maxRecords = 10000
  }
}


output {

  # Successfully enriched events.
  good {
    type = "Kinesis"
    streamName = "snowplow-mvp-enriched-good"
    region = "eu-north-1"

    # Keep related events consistently partitioned.
    partitionKey = "event_id"
  }


  # Failed events represented in enriched-event format.
  failed {
    type = "Kinesis"
    region = "eu-north-1"
    streamName = "snowplow-mvp-events-bad"
  }


  # Snowplow bad-row JSON output.
  bad {
    type = "Kinesis"
    region = "eu-north-1"
    streamName = "snowplow-mvp-events-bad"
  }
}


telemetry {
  disable = true
}