collector {

    ######################################################################
    # 1. LICENSE
    #
    # Required to run the current Snowplow Collector.
    ######################################################################

    license {
        accept = true
    }


    ######################################################################
    # 2. COLLECTOR HTTP SERVER
    ######################################################################

    # Listen on all network interfaces inside the EC2 instance/container.
    #
    # This allows Docker to expose the Collector outside the container.
    interface = "0.0.0.0"


    # The Collector listens for incoming Snowplow HTTP requests on this port.
    port = 8080


    ######################################################################
    # 3. NETWORK SETTINGS
    #
    # We explicitly define these for clarity, although the defaults are
    # already suitable for an MVP.
    #
    # These can later be tuned based on traffic volume and infrastructure.
    ######################################################################

    networking {

        # Maximum number of concurrent active connections.
        maxConnections = 1024

        # Maximum time an idle connection can remain open.
        idleTimeout = 610 seconds

        # Maximum time allowed to receive the request body.
        bodyReadTimeout = 25 seconds

        # Maximum time allowed before response headers are generated.
        responseHeaderTimeout = 30 seconds

        # Maximum permitted HTTP request line size.
        maxRequestLineLength = 20480

        # Maximum permitted HTTP header size.
        maxHeadersLength = 40960

        # Maximum size of a single event within a request payload.
        maxPayloadSize = 1048576

        # Reject requests exceeding this total payload size.
        dropPayloadSize = 2097152
    }


    ######################################################################
    # 4. KINESIS STREAM CONFIGURATION
    ######################################################################

    streams {

        # Successfully collected events are written here.
        good = "snowplow-mvp-collector-good"

        # Used for failures occurring at the Collector/output stage.
        bad = "snowplow-mvp-events-bad"

        # AWS Kinesis connection configuration for both streams
        sink {
            enabled = kinesis

            region = "eu-north-1"

            # Use the IAM Role attached to EC2.
            aws {
                accessKey = "iam"
                secretKey = "iam"
            }

            # Number of asynchronous threads used to write to Kinesis.
            threadPoolSize = 10
        }


        ####################################################################
        # INTERNAL BUFFER
        ####################################################################

        buffer {

            byteLimit = 3145728

            recordLimit = 500

            timeLimit = 5000
        }


        ####################################################################
        # RETRY / BACKOFF
        ####################################################################

        backoffPolicy {

            minBackoff = 3000

            maxBackoff = 600000
        }
    }
}
